In [ ]:
num=3
if num>0:
  print("number is positive")
elif num<0:
  print("number is negative")
else:
  print("number is zero")

number is positive

In [ ]:
num=5
if num==2:
  print("number is even")
elif num!=2:
  print("number is odd")
else:
  print("number is zero")

number is odd

In [ ]:
age=34
if age>=18:
  print("you are eligible for vote")
else:
  print("you are not eligible for vote")

you are eligible for vote

In [ ]:
num=56
if num%3==0:
  print("number is divisible by 3")
if num%5==0:
  print("number is divisible by 5")
else:
  print("number is divisible by both 3,5")

number is divisible by both 3,5

In [ ]:
marks=83
if marks>=90:
  print("grade A")
elif marks>=80:
  print("grade B")
elif marks>=70:
  print("grade C")
else:
  print("grade D")

grade B

In [ ]:
num=1
for num in range(1,11):
 print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
num=6
for num in range(1,11):
  print(num*6)

6
12
18
24
30
36
42
48
54
60

In [ ]:
num=0
for num in range(0,21):
  if num%2==0:
    print(num)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
my_word="pakistan"
for char in my_word:
  print(char)

p
a
k
i
s
t
a
n

In [ ]:
word="education"
for vowels in word:
  if vowels in "aeiou":
   print(vowels)

e
u
a
i
o