1.create a list of 5 fruits and print each using loop.

In [ ]:
fruits=["mango","kiwi","melon","plum","grapes"]
for x in fruits:
  print(x)

mango
kiwi
melon
plum
grapes

2.create a tuple with 3 items :name,age and city.access print each.

In [ ]:
my_tuple=("freen","18","gujranwala")
for x in my_tuple:
  print(x)

freen
18
gujranwala

3.create a dictionary with student name,class and score. print keys and values.

In [ ]:
person:dict={"name":"alia","class":12,"score":88}
print(person.keys())
print(person.values())

dict_keys(['name', 'class', 'score'])
dict_values(['alia', 12, 88])

4.update a list by adding and removing items.print the updated list.

In [ ]:
my_list=[1,3,5,6,7]
my_list.append(9)
my_list.remove(3)
print(my_list)

[1, 5, 6, 7, 9]

5.use a loop to count items in the list and print using len()

In [ ]:
my_list=["nails","blush","gloss","perfume"]
for items in my_list:
  print(len(my_list))

4
4
4
4

6.check if a value exists in a tuple using in keyword.

In [ ]:
tuple=(1,10,20)
print("if 10 in tuple?",10 in tuple)

if 10 in tuple? True

7.add a new key-value pair to dictionary and print the result.

In [ ]:
value:dict={"score":96,"grade":"A+"}
print(value)

{'score': 96, 'grade': 'A+'}

8.write a program that converts a list to tuple and prints both.

In [ ]:
my_list=[1,5,7,8]
my_tuple=tuple(my_list)
print(my_list)
print(my_tuple)

[1, 5, 7, 8]
(1, 5, 7, 8)

In [ ]:
print("Hello, world!")

Hello, world!

9.create a dictionary of 3 students with marks.print names who scored>80.

In [ ]:
my_dict={"freen":96,"alia":88,"sara":78}
for name,marks in my_dict.items():
  if marks>80:
    print(name)

freen
alia

10.create a tuple of mixed data.loop through it and print type of each item.

In [ ]:
my_tuple=["alia",33,True]
for x in my_tuple:
  print(type(x))
  print(x)

<class 'str'>
alia
<class 'int'>
33
<class 'bool'>
True