In [ ]:
a=5
b=10
print("a+b=",a+b)
print("a-b=",a-b)
print("a*n=",a*b)
print("a/b=",a/b)
print("a%b=",a%b)

a+b= 15
a-b= -5
a*n= 50
a/b= 0.5
a%b= 5

In [ ]:
a=5
b=4
print("a==b=",a==b)
print("a!=b=",a!=b)
print("a>b=",a>b)
print("a<b=",a<b)
print("a>=b=",a>=b)
print("a<=b=",a<=b)

a==b= False
a!=b= True
a>b= True
a<b= False
a>=b= True
a<=b= False

In [ ]:
a=True
b=False
print("a and b=",a and b)
print("a or b=" ,a or b)
print("not a=",not a)

a and b= False
a or b= True
not a= False

In [ ]:
x=5
print(x);
x+=3
print(x);
x-=3
print(x);
x*=3
print(x);
x/=3
print(x);
x//=3
print(x);

5
8
5
15
5.0
1.0

In [ ]:
a: list=[1,2,3,4]
b: list=[1,2,3,4]

print("a is  b",a is  b)
print("a is not b",a is not b)
print("a==b",a==b)

a is  b False
a is not b True
a==b True

In [ ]:
my_list:list=["1,2,3,4,5"]
print("my_list=",my_list)
print("3 in my_list=",3 in my_list)
print("6  not in my_list=",6 not in my_list)

my_list= ['1,2,3,4,5']
3 in my_list= False
6  not in my_list= True

In [ ]:
my_string:str="a,e,i,o,u"
print("my_string=",my_string)
print("'o' in my_string= ", 'o' in my_string)
print("'b' not in my_string=",'b' not in my_string)

my_string= a,e,i,o,u
'o' in my_string=  True
'b' not in my_string= True

In [ ]:
name="ali karam";
age=20;
height=5.7;
print(type(name),"name=",'ali karam' )
print(type(age),"age=",'20')
print(type(height),"height",'5.7')

<class 'str'> name= ali karam
<class 'int'> age= 20
<class 'float'> height 5.7

In [ ]:
Valid Variables

In [ ]:
valid_variable=("happy","sara","ahmed","haider")
print("valid_variable=",valid_variable)

valid_variable= ('happy', 'sara', 'ahmed', 'haider')

Invalid Variables

In [ ]:
invalid_variables=("int","str","print","float")
print("invalid_variables=",invalid_variables)

invalid_variables= ('int', 'str', 'print', 'float')

In [ ]:
a=[1,2,3,4,5,]
b=a
print(type(value),["1,2,3,4,5"])
print("a is b",a is b)
print("a is not b",a is not b)
print(id(a))
print(id(b))

<class 'list'> ['1,2,3,4,5']
a is b True
a is not b False
137434616955520
137434616955520

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']