Create variables Of types:string,integer,float and boolean.print their value and types.

In [ ]:
a="hello world";
b=45;
c=6.67;
d:bool=True;
print(type(a),"a=",'hello world')
print(type(b),"b=",45)
print(type(c),"c=",6.67)
print(type(d),"bool=",True)

<class 'str'> a= hello world
<class 'int'> b= 45
<class 'float'> c= 6.67
<class 'bool'> bool= True

Make a List of 5 fruits and print.

In [ ]:
list1:"Fruits"=["apple,bananna,kiwi,grapes,mango"]
print(list1)

['apple,bananna,kiwi,grapes,mango']

Create a tuple of 3 favourite numbers and print.

In [ ]:
my_tuple:tuple=(1,2,3,4,5)
print(my_tuple)

(1, 2, 3, 4, 5)

Define a dictionary with keys:name,age,city and print all key values.

In [ ]:
my_dic:dict={"name":"freen","age":"17","city":"gujranwala"}
print(my_dic)

{'name': 'freen', 'age': '17', 'city': 'gujranwala'}

Create a set of unique hobbies.

In [ ]:
my_hobbies:set={"playing","gardening","reading"}
print(my_hobbies)

{'playing', 'gardening', 'reading'}

Make a list of 5 student names and print.

In [ ]:
my_name:"name"=["ali","sara","karam","amber","mano"]
print(my_name)

['ali', 'sara', 'karam', 'amber', 'mano']

Create a dictionary of 3 programming languages with their creators and print them.

In [ ]:
my_dic:dict={"python":"guido van rossum","c++":"bjarne strostup","java":"james gossling"}
print(my_dic)

{'python': 'guido van rossum', 'c++': 'bjarne strostup', 'java': 'james gossling'}

Create a tuple of 4 cities.

In [ ]:
my_tuple:tuple=("karachi","lahore","sialkot","islamabad")
print(my_tuple)

('karachi', 'lahore', 'sialkot', 'islamabad')

Make a set of vowels in a string and print.

In [ ]:
set1:set={"a","e","i","o","u"}
print(set1)

{'e', 'u', 'a', 'i', 'o'}

Store 3 float numbers and calculate their average.

In [ ]:
a=3.9;
b=4.6;
c=5.7;
avg=(a+b+c)/3
print(avg)

4.733333333333333