1.create a variable with your name and print each character using loop.

In [ ]:
my_name="freen"
for char in my_name:
 print(char)

f
r
e
e
n

2.use slicing to print the fist 4 characters of a string.

In [ ]:
my_string="world"
print(my_string[:4])

worl

3.ask the user to input a number as a string ,convert it into int,add 10 and print the result.

In [ ]:
num="83"
result=int(num)+10
print(result)

93

 4.create a list of string numbers like ["10","20","30"],convert to int,and print updated list.

In [ ]:
my_list=["10","20","30"]
int_list=[int(num) for num in my_list]
print(int_list)

[10, 20, 30]

5.check if "Python" is in a string using in and print a message.

In [ ]:
my_msg="i'm learning python from AI HUB"
if "python"in my_msg:
 print("python is in my_msg")
else:
   print("python is not in my_msg")

python is in my_msg

6.create a string convert it into upper lower and title case.

In [ ]:
string="pakistan zindabad"
print("upper()=",string.upper())
print("lower()=",string.lower())
print("title()=",string.title())

upper()= PAKISTAN ZINDABAD
lower()= pakistan zindabad
title()= Pakistan Zindabad

7.use type to display data types before and after casting from string to integer.

In [ ]:
my_string="234"
result=int(my_string)
print(type(my_string))
print(type(result))

<class 'str'>
<class 'int'>

8.take user input for name and age (casted to int )is above 18 and print eligibility.

In [ ]:
name="freen"
age="18"
if int(age)>18:
 print("you are eligible" )
else:
  print("you are not eligible")

you are not eligible

9.create a variable with mixed case text.check if the text is uppercase and print results.

In [ ]:
my_text="I LOVE PAKISTAN"
result=my_text.upper()
print("my_text.upper()=",my_text.upper())

my_text.upper()= I LOVE PAKISTAN

10.create a string with numbers convert it to float and int print all conversions.

In [ ]:
number_string="2345"
result=float(number_string)
result1=int(number_string)
print(result,result1)

2345.0 2345