1.create a set of 5 fruits and print it.

In [1]:
fruits={"mango","kivi","grapes","plum","banana"}
print(fruits)

{'plum', 'kivi', 'mango', 'banana', 'grapes'}

2.add one new fruit to your set by using.add()and print the updated set.

In [2]:
my_set={"mango","guvava","grapes"}
my_set.add("kivi")
print(my_set)

{'kivi', 'guvava', 'grapes', 'mango'}

3.remove an existing fruit using .remove()

In [3]:
my_set={"mango","guvava","grapes"}
my_set.remove("guvava")
print(my_set)

{'grapes', 'mango'}

4.remove an existing fruit using.discard().

In [4]:
my_set={"mango","guvava","grapes"}
my_set.discard("mango")
print(my_set)

{'guvava', 'grapes'}

5.use.pop()to remove an arbitrary item and print the result.

In [13]:
set={"mango","kivi","plum","cherry"}
set.pop()
print(set)

{'kivi', 'mango', 'cherry'}

6.clear the remaining items using.clear() and show that the set is now empty.

In [14]:
set={"mango","kivi","plum","cherry"}
set.clear()
print(set)

set()

7.create two sets of numbers and display their union,intersection,difference,symmetric difference.

In [18]:
set1={1,2,3,4,5}
set2={1,3,6,8}
set3=set1.union(set2)
print(set3)
set3=set1.intersection(set2)
print(set3)
set3=set2.difference(set1)
print(set3)
set3=set1.symmetric_difference(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 8}
{1, 3}
{8, 6}
{2, 4, 5, 6, 8}

8.check if one set is subset or superset of another,and print the result.

In [20]:
set1={1,2,3,4,5}
set2={1,4,6,8,}
set3=set1.issubset(set2)
print(set3)
set3=set1.issuperset(set2)
print(set3)

False
False

9.declare a frozenset of vowels and try adding an item .

In [22]:
frozen_set={"a","e","i","o","u"}
frozen_set.add("g")
print(frozen_set)

{'a', 'o', 'i', 'e', 'g', 'u'}

10.use loop to check membership of user input charchter in the set of vowels.

In [ ]:
set={"a","e","i","o","u"}
set1=input("Enter a charachter:").lower()
found=False
for vowels in set:
  if set==set1:
    found=True
if found:
    print(f"the charchter '{set}'is vowel")
else:
  print(f"the charachter'{set}'is not vowel")